%footer.page-footer.pad-sides
  .row
    .col.l6.s12
      %h5.white-text FooBr
      %p.grey-text.text-lighten-4 Content here.
    .col.l4.offset-l2.s12
      %h5.white-text Links
      %ul
        %li
          %a.grey-text.text-lighten-3{:href => "#!"} Link 1
  .footer-copyright
    © 2015 Copyright
    %a.grey-text.text-lighten-4.right{:href => "#!"} More Links
