%footer.page-footer.pad-sides
  .row
    .col.l6.s12
      %h5.white-text FooBr
      %p.grey-text.text-lighten-4 Your time is valuable
    .col.l4.offset-l2.s12
      %h5.white-text Links
      %ul
        %li
          %a.grey-text.text-lighten-3{:href => "#!"} About
        %li
          %a.grey-text.text-lighten-3{:href => "#!"} Contact
    .col.m12.white-text
      © 2015 Copyright
