.container
  .row
    - unless current_user
      .col.m6
        .card.center-align.greeting-customer
          %a{:href => "/auth/google_oauth2?role=customer", id: 'customer_signup', name: 'Signup as a Customer' }
            .card-content
              %p.grey-text.text-darken-4.flow-text
                %strong Your Time is Valuable!
              %p.flow-text
                %strong Get Help Now!
              %p.flow-text
                Sign up as a Customer
      .col.m6
        .card.center-align.greeting-dev
          %a{:href => "/auth/google_oauth2?role=developer"}
            .card-content
              %p.grey-text.text-darken-4.flow-text
                %strong Your Time is Valuable!
              %p.flow-text
                %strong Help Now!
              %p.flow-text
                Sign up as a Developer

  .row
    .col.m12
      %input.search-specialty{type: 'text'}
      %label{} Search by Specialty

  .row
    .col.m12
      %ul.collection
        - @developers.each do |developer|
          %li.developer.collection-item.avatar
            %img.circle.responsive-img
              =image_tag developer.image, { class: "circle", alt: "Picture of Developer" }
            %h5
              .name= developer.name
            %p
              Specialties
              .specialty= developer.specialty_names.join(" ")

              %a.secondary-content{:href => "#!"}
                %i.material-icons grade

