.row
  - unless current_user
    .col.m6
      .card.center-align.greeting-customer
        %a{:href => "/auth/google_oauth2?role=customer", id: 'customer_signup', name: 'Signup as a Customer' }
          .card-content
            %p.grey-text.text-darken-4.flow-text
              %strong Your Time is Valuable!
            %p.flow-text
              %strong Get Help Now!
            %p.flow-text
              Sign up as a Customer
    .col.m6
      .card.center-align.greeting-dev
        %a{:href => "/auth/google_oauth2?role=developer"}
          .card-content
            %p.grey-text.text-darken-4.flow-text
              %strong Your Time is Valuable!
            %p.flow-text
              %strong Help Now!
            %p.flow-text
              Sign up as a Developer

.row
  .col.m12
    %input.search-specialty{type: 'text'}
    %label{} Search by Specialty


.row
  .col.m12
    %table.bordered.centered.hoverable.z-depth-5.white
      %thead
        %tr
          %th{"data-field" => "id"} Total hours available
          %th{"data-field" => "experience"} Years experience
          %th{"data-field" => "name"} Dev Name
          %th{"data-field" => "expertise"} Areas of Expertise
      %tbody
        %tr.developer
          %td 8
          %td 8
          %td.name Suzie
          %td Ruby Rails
        %tr.developer
          %td 8
          %td 2
          %td.name Alan
          %td Php Word-Press
        %tr.developer
          %td 7
          %td 12
          %td.name Jonathan
          %td Html Css
        %tr.developer
          %td 6
          %td 8
          %td.name Suzie
          %td Ruby Rails
        %tr.developer
          %td 6
          %td 2
          %td.name Alan
          %td Php Word-Press
        %tr.developer
          %td 4
          %td 12
          %td.name Jonathan
          %td Html Css
        %tr.developer
          %td 4
          %td 8
          %td.name Suzie
          %td Ruby Rails
        %tr.developer
          %td 2
          %td 2
          %td.name Alan
          %td Php Word-Press
        %tr.developer
          %td 2
          %td 12
          %td.name Jonathan
          %td Html Css
        %tr.developer
          %td 2
          %td 8
          %td.name Suzie
          %td Ruby Rails
        %tr.developer
          %td 1
          %td 2
          %td.name Alan
          %td Php Word-Press
        %tr.developer
          %td 1
          %td 12
          %td.name Jonathan
          %td Html Css



