.container
  .row
    - unless current_user
      .col.m6
        .card.center-align.greeting-customer
          %a{:href => "/auth/google_oauth2?role=client", id: 'client_signup', name: 'Client Signup' }
            .card-content
              %p.grey-text.text-darken-4.flow-text
                %strong Your Time is Valuable!
              %p.flow-text
                %strong Get Help Now!
              %p.flow-text
                Sign up as a Client
      .col.m6
        .card.center-align.greeting-dev
          %a{:href => "/auth/google_oauth2?role=developer"}
            .card-content
              %p.grey-text.text-darken-4.flow-text
                %strong Your Time is Valuable!
              %p.flow-text
                %strong Help Now!
              %p.flow-text
                Sign up as a Developer

  .row
    .col.s12
      -if current_user
        = link_to "Primary Calendar", calendars_primary_path
        %br
        .new_project
          = link_to "Create a New Project", new_project_path
  .row
    .col.s12
      %label Search by Specialty
      %input.search-specialty{type: 'text'}

  .row
    .col.s12
      %ul.collection
        - @developers.each do |developer|
          %li.developer.collection-item.avatar
            %img.circle.responsive-img
              =image_tag developer.image, { class: "circle", alt: "Picture of Developer" }
            %h5
              .name= developer.name
            %p
              Specialties
              .specialty= developer.specialty_names.join(" ")
