%ul.collection.with-header
  %li.collection-header
    %h4 Specialties
    = link_to "Add Specialty", new_specialty_path
  - @specialties. each do |specialty|
    %li.collection-item
      = specialty.specialty_name


