.container
  .row
    .col.s12
    -if current_user.role == 'client'
      %h5
        Project List
      %ul.collection
        - @projects.each do |project|
          %li.developer.collection-item
            %p
              = project.name
              = project.description

