{"http_interactions":[{"request":{"method":"get","uri":"https://www.googleapis.com/calendar/v3/users/me/calendarList","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":401,"message":"Unauthorized"},"headers":{"Www-Authenticate":["Bearer realm=\"https://accounts.google.com/\", error=invalid_token"], "Content-Type":["application/json; charset=UTF-8"], "Alternate-Protocol":["443:quic,p=1"]},"body":{"encoding":"ASCII-8BIT","string":"{\n \"error\": {\n  \"errors\": [\n   {\n    \"domain\": \"global\",\n    \"reason\": \"authError\",\n    \"message\": \"Invalid Credentials\",\n    \"locationType\": \"header\",\n    \"location\": \"Authorization\"\n   }\n  ],\n  \"code\": 401,\n  \"message\": \"Invalid Credentials\"\n }\n}\n"},"http_version":null},"recorded_at":"Wed, 12 Aug 2015 22:01:08 GMT"}],"recorded_with":"VCR 2.9.3"}